.form-description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
  > span:first-child {
    font-size: 35px;
    font-weight: 500;
    color: #35bbe3;
  }
  > span:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    color: #999999;
  }
}

@media screen and (max-width: 900px) {
  .form-description {
    > span:first-child {
      font-size: 25px;
    }
    > span:nth-child(2) {
      font-size: 12px;
    }
  }
}
