.register-page {
  width: 100%;
  height: 100vh;
  display: flex;

  .register-page-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-top: 40px;
    padding-bottom: 40px;
    .register-page-form {
      width: 870px;
      .register-page-form-fullname,
      .register-page-form-email-phone,
      .register-page-form-gender-level,
      .register-page-form-password {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        > div {
          display: flex;
          flex-direction: column;
          gap: 7px;
          > label {
            font-size: 14px;
            font-weight: 400;
            color: #101828;
          }
          > input,
          .register-page-form-phone-number,
          select {
            width: 400px;
            height: 50px;
            padding: 0px 13px 0px 13px;
            border-radius: 10px;
            border: 1px solid #e4e7ec;
            outline: none;
          }
          > input::placeholder,
          .register-page-form-input-phone::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: #d0d5dd;
          }

          .register-page-form-phone-number {
            display: flex;
            align-items: center;
            gap: 15px;
            > input {
              width: 100%;
              height: 48px;
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1052px) {
  .register-page {
    .register-page-content {
      .register-page-form {
        .register-page-form-fullname,
        .register-page-form-email-phone,
        .register-page-form-gender-level,
        .register-page-form-password {
          width: 100%;
          @media screen and (max-width: 900px) {
            margin-bottom: 20px;
          }
          > div {
            width: 49%;
            > input,
            .register-page-form-phone-number,
            select {
              width: 100%;
            }
            @media screen and (max-width: 900px) {
              > label {
                font-size: 12px;
              }
              > input::placeholder,
              .register-page-form-input-phone::placeholder {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1120px) {
  .register-page {
    .register-page-content {
      .register-page-form {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .register-page {
    .register-page-content {
      .register-page-form {
        .register-page-form-fullname,
        .register-page-form-email-phone,
        .register-page-form-gender-level,
        .register-page-form-password {
          margin-bottom: 0px;
          > div {
            width: 49%;
            margin-bottom: 15px;
            > input,
            .register-page-form-phone-number,
            select {
              width: 100%;
            }
            > label {
              font-size: 12px;
            }
            > input::placeholder,
            .register-page-form-input-phone::placeholder {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .register-page {
    .register-page-content {
      .register-page-form {
        .register-page-form-fullname,
        .register-page-form-email-phone,
        .register-page-form-gender-level,
        .register-page-form-password {
          flex-direction: column;
          > div {
            width: 100%;
            > input,
            .register-page-form-phone-number,
            select {
              height: 40px;
            }
            .register-page-form-phone-number {
              > input {
                height: 38px;
              }
            }
          }
        }
        .btn-regiter {
          width: 100%;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .register-page {
    .register-page-content {
      width: 100%;
      > img {
        width: 100px;
      }
      .btn-regiter {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 250px) {
  .register-page {
    .register-page-content {
      width: 100%;
    }
  }
}
